/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* Variables */
:root {
  --blanco: white;
  --negro: black;
  --gris: #efefef;
  --fuente-principal: "Roboto", sans-serif;
  --espaciado-vertical: 16px;
  --espaciado-horizontal: 20px;
  --tamanio-iconos: 24px;
  --bordes-redondos: 24px;

  --ancho-columnas: 256px;
  --alto-filas: 16px;
}

/* Elinando estilos por defecto */
button {
  border: none;
  outline-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline-style: none;
}

/* Encabezados */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-vertical) var(--espaciado-horizontal);
}

/* iconos */

.icon {
  padding: var(--espaciado-vertical);
  border-radius: 50%;
  background-color: var(--blanco);
}

.icon:hover {
  background-color: var(--gris);
}

.icon > div {
  background-position: center;
  background-size: cover;
  height: var(--tamanio-iconos);
  width: var(--tamanio-iconos);
}

.icon-home > div {
  background-image: url(../img/icon_pinterest.png);
}

.icon-notification > div {
  background-image: url(../img/icon_jingle.png);
}

.icon-message > div {
  background-image: url(../img/icon_bubble_notification.png);
}

.icon-arrow > div {
  background-image: url(../img/icon_arrow_down.png);
}

.icon-profile > div > img {
  width: 100%;
  border-radius: 50%;
}

/* Botones */
.btn {
  font-family: var(--fuente-principal);
  padding: var(--espaciado-vertical) var(--espaciado-horizontal);
  border-radius: var(--bordes-redondos);
  font-weight: bold;
}

.btn-black {
  color: var(--blanco);
  background-color: var(--negro);
}

.btn-white {
  color: var(--negro);
  background-color: var(--blanco);
}

.btn-white:hover {
  background-color: var(--gris);
}

/* buscador */

.form-search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: var(--fuente-principal);
  background-color: var(--gris);
  border-radius: var(--bordes-redondos);
  padding: var(--espaciado-vertical) var(--espaciado-horizontal);
}

.form-search > div {
  background-image: url(../img/icon_search.png);
  display: inline-block;
  background-position: center;
  background-size: cover;
  height: var(--tamanio-iconos);
  width: var(--tamanio-iconos);
}

.form-search > input {
  background-color: transparent;
}

/* Galeria principal */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--ancho-columnas));
  grid-auto-rows: var(--alto-filas);

  justify-content: center;

  row-gap: var(--espaciado-vertical);
  column-gap: var(--espaciado-horizontal);
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--ancho-columnas);
}

.card > h3 {
  margin: 0;
}

.card > img {
  width: 100%;
  border-radius: var(--bordes-redondos);
  flex-grow: 1;
}

.card-sm {
  grid-row-end: span 8;
}
.card-m {
  grid-row-end: span 12;
}
.card-lg {
  grid-row-end: span 14;
}
